.logo {
    display: block;
    text-decoration: none;
    &--prizm {
        padding: 23px 35px;
        background: linear-gradient(180deg, #6152D3 0%, #4969CC 100%), #4A68CC;
        clip-path: polygon(2% 0, 94% 13%, 100% 93%, 0 100%);
    }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        height: auto;
        object-fit: contain;
    }
}