.head-screen {
    position: relative;
    padding: 50px 0;
    &__name {
        margin-top: 20px;
        line-height: 24px;
    }
    &__line {
        margin-top: 30px;
        position: absolute;
    }
}