/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-xls {
	@include xls(display, none !important);
}

.hide-lg {
	@include lg(display, none !important);
}

.hide-md {
	@include md(display, none !important);
}

.hide-sm {
	@include sm(display, none !important);
}

.hide-xs {
	@include xs(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--violet {
        background-color: var(--color-violet);
    }
    &--krayola {
        background-color: var(--color-krayola);
    }
    &--white {
        background-color: var(--color-white);
    }
    &--gray {
        background-color: var(--color-gray);
    }
    &--lgradient-blue {
        background: var(--color-lgradient-blue);
    }
}

/* Title */

.title {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
    &--big {
		@include xls(font-size, 28px);
		@include sm(font-size, 24px);
		font-size: 32px;
    }
    &--medium {
        font-size: 22px;
    }
    &--small {
        font-size: 20px;
    }
    &--violet {
        color: var(--color-violet);
    }
    &--white {
        color: var(--color-white);
	}
    &--gray {
        color: var(--color-gray);
	}
	&--w-black {
		font-weight: 900;
	}
	&--bold {
		font-weight: bold;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--regular {
		font-weight: normal;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&--dark {
		color: var(--color-dark); 
	}
	&--white {
		color: var(--color-white);
	} 
	&--gray {
		color: var(--color-gray);
	}
	&--violet {
		color: var(--color-violet);
	}
	&--normal {
		font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--light {
		font-weight: 300;
	}
	&--regular {
		font-weight: 400;
	}
	&--medium {
		font-weight: 500;
	}
	&--bold {
		font-weight: 700;
	}
	&--w-black {
		font-weight: 900;
    }
    &--uppercase {
        text-transform: uppercase;
    }
}