/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-xls {
	@include xls(display, none !important);
}

.hide-lg {
	@include lg(display, none !important);
}

.hide-md {
	@include md(display, none !important);
}

.hide-sm {
	@include sm(display, none !important);
}

.hide-xs {
	@include xs(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &_violet {
        background-color: var(--color-violet);
    }
    &_krayola {
        background-color: var(--color-krayola);
    }
    &_white {
        background-color: var(--color-white);
    }
    &_gray {
        background-color: var(--color-gray);
    }
}

/* Title */

.title {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
    &_big {
		@include xls(font-size, 28px);
		@include sm(font-size, 24px);
		font-size: 32px;
    }
    &_medium {
        font-size: 22px;
    }
    &_violet {
        color: var(--color-violet);
    }
    &_white {
        color: var(--color-white);
	}
	&_w-black {
		font-weight: 900;
	}
	&_w-bold {
		font-weight: bold;
	}
	&_w-medium {
		font-weight: 500;
	}
	&_w-regular {
		font-weight: normal;
	}
	&_uppercase {
		text-transform: uppercase;
	}
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&_dark {
		color: var(--color-dark); 
	}
	&_white {
		color: var(--color-white);
	} 
	&_gray {
		color: var(--color-gray);
	}
	&_s-normal {
		font-size: 16px;
	}
	&_w-light {
		font-weight: 300;
	}
	&_w-regular {
		font-weight: 400;
	}
	&_w-medium {
		font-weight: 500;
	}
	&_w-bold {
		font-weight: 700;
	}
	&_black {
		font-weight: 900;
	}
}