:root {
    --color-white: #FFFFFF;
    --color-blue: #00A0E3;
    --color-gray: #BDBBBA;
    --color-dark: #585858;
    --color-violet: #473CC6;
    --color-purple: #4E35CB;
    --color-light-purple: #6152D3;
    --color-krayola: #AEA5DE;
    --color-white-gray: #E5E5E5;
    --color-lgradient-blue: linear-gradient(180deg, #6152D3 -6.26%, #4969CC 100%), #4A68CC;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}