:root {
    --color-white: #FFFFFF;
    --color-blue: #00A0E3;
    --color-gray: #BDBBBA;
    --color-dark: #585858;
    --color-violet: #473CC6;
    --color-purple: #4E35CB;
    --color-light-purple: #6152D3;
    --color-krayola: #AEA5DE;
    --color-white-gray: #E5E5E5;
    --color-lgradient-blue: linear-gradient(180deg, #6152D3 -6.26%, #4969CC 100%), #4A68CC;
    --color-rgradient-blue: radial-gradient(79.58% 188.07% at 20.42% 42.79%, #00A0E3 0%, rgba(80, 160, 255, 0.277269) 62.18%, rgba(255, 255, 255, 0) 100%), #4E35CB;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}