.footer-menu {
    font-size: 12px;
    text-transform: uppercase;
    &__list {
        @include md-block {
            flex-direction: column;
            align-items: center;
        }
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item ~ &__item {
        @include md(margin-top, 20px);
    }
    &__item {
        @include md-block {
            &::after {
                display: none;
            }
        }
        &::after {
            content: '/';
            color: var(--color-white);
            margin: 0 15px;
            font-size: 10px;
        }
        &:last-child {
            &::after {
                content: '';
                margin: 0;
            }
        }
    }
    &__link {
        color: var(--color-white);
        text-decoration: none;
        transition: .3s ease;
        &:hover {
            color: var(--color-blue);
        }
    }
}