{% include "./_head.html" %}
{% include "./_grid.html" %}
<!-- Header -->
<header class="header header--position-sticky bg_violet">
    <div class="header__body container">
        <a href="./" class="logo logo--prizm header__logo">
            <div class="logo__box ">
                <img src="images/logo.png" alt="Логотип" class="logo__img">
            </div>
        </a>
        <div class="header__menu">
           <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="" class="menu__link">Программы</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Страны</a>
                        <ul class="menu__sub-menu">
                            <li class="menu__item">
                                <a href="" class="menu__link">Поездка в Канаду</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Страна 2</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Страна 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Мероприятия</a>
                        <ul class="menu__sub-menu">
                            <li class="menu__item">
                                <a href="" class="menu__link">Страна 1</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Страна 2</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link">Страна 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Новости</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Команда</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__actions hide">
                <a href="" class="button button_white">Вход/Регистрация</a>
            </div> 
        </div> 
        <div class="burger-menu header__burger-menu">
            <span class="burger-menu__line"></span>
        </div>
    </div>
</header>