.button {
    position: relative;
    display: inline-block;
    font-family: var(--font-roboto);
    font-style: normal;
    font-size: 16px;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    z-index: 10;
    background: transparent;
    border-radius: 50px;
    transition: .2s ease;
    &--primary {
        color: var(--color-white);
        border: 2px solid var(--color-white);
        &:hover {
            background: var(--color-white);
            color: var(--color-purple);
            box-shadow: 0px 0px 50px var(--color-blue);
        }
        &--normal {
            font-weight: normal;
        }
        &--bold {
            font-weight: 900;
        }
    }
}