.post-card {
    position: relative;
    &__image-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.45);
            transition: background 0.25s ease;
        }
    }
    &:hover .post-card__image-bg {
        &::before {
            background: rgba(0, 0, 0, 0.60);
        }
    }
    &:hover .post-card__info {
        bottom: 60px;
    }
    &__details {
        @include md(padding, 20px);
        position: relative;
        padding: 30px;
        min-height: 400px;
        width: 100%;
        text-align: left;
    }
    &__info {
        @include xls(margin, 0 20px);
        @include md(margin, 0 20px);
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: 0 50px;
        transition: bottom 0.25s ease;
    }
    &__categoryes {
        display: flex;
        justify-content: start;
    }
    &__category {
        display: inline-flex;
        text-decoration: none;
        text-transform: lowercase;
        background: var(--color-white);
        padding: 1px 15px 1px 15px;
        border: 1px solid var(--color-gray);
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 30px;
        transition: color 0.25s ease;
        &:hover {
            color: var(--color-violet);
        }
    }
    &__title {
        margin-top: 15px;
    }
    &__date {
        display: block;
        margin-top: 20px;
    }
    &__link {
        cursor: pointer;
        text-decoration: none;
        color: var(--color--white);
    }
}