.head-slider {
    margin-top: 40px;
    width: 100%;
    &__slide {
        @include xl-block {
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 20px;
        }
        @include lg-block {
            grid-template-columns: 1fr;
            grid-auto-rows: 400px;
            margin-top: 10px;
        }
        @include sm-block {
            grid-auto-rows: 300px;
        }
        display: grid;
        grid-template: 400px / repeat(2, 1fr);
        grid-column-gap: 50px;
        place-items: center;
        justify-content: space-between;
        margin-top: 100px;
    }
    &__text {
        @include xl(padding, 0px 30px 0px 30px);
        @include lg(justify-self, center);
        @include sm(padding, 0px 20px 0px 20px);
        max-width: 550px;
        background: var(--color-purple);
        clip-path: polygon(0 0, 95% 16%, 100% 100%, 0 100%);
        padding: 0px 80px 0px 30px;
        opacity: 0;
        justify-self: start;
        transform: translateY(-50px);
    }
    &__title {
        opacity: 0;
    }
    .swiper-slide.js-animated {
        .head-slider__text {
            @include xl(padding, 40px 30px 20px 30px);
            @include sm(padding, 40px 20px 20px 20px);
            padding: 40px 80px 20px 30px;
            opacity: 1;
            transform: translateY(0px);
            transition: .5s ease;
            transition-delay: .3s;
        }
        .head-slider__title,
        .head-slider__descr, 
        .head-slider__actions,
        .head-slider__pic {
            opacity: 1;
            transition: .6s ease;
            transform: translateY(0px);
        }
        .head-slider__title {
            transition-delay: .5s;
        }
        .head-slider__descr {
            transition-delay: .7s;
        }
        .head-slider__actions {
            transition-delay: .9s;
        }
        .head-slider__pic {
            transition-delay: .5s;
            transform: scale(1);
        }
    }
    &__descr, &__actions, &__title {
        opacity: 0;
        transform: translateY(-15px);
    }
    &__descr, &__actions {
        margin-top: 20px;
    }
    &__button {
        &:first-child {
            margin-right: 30px;
        }
    }
    &__pic {
        display: block;
        opacity: 0;
        transform: translateY(50px) scale(0.8);
        max-width: 600px;
        max-height: 450px;
        height: 100%;
        width: 100%;
    }
    &__pagination {
        top: 0;
        height: 45px;
        margin: 0 auto;
        text-align: center;
        > .swiper-pagination-bullet-active {
            color: var(--color-white);
            background: linear-gradient(180deg, #6152D3 0%, #4969CC 100%), #4A68CC !important;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 90%);
        }
    }
    &__bullet {
        @include sm-block {
            padding: 8px;
            font-size: 12px;
            margin: 0 5px 0 0 !important;
        }
        height: auto !important;
        width: auto !important;
        padding: 10px 10px 10px 20px;
        line-height: 1;
        font-weight: bold;
        border-radius: 0 !important;
        color: var(--color-violet);
        background: transparent !important;
        opacity: 1 !important;
        margin: 0 40px 0 0 !important;
        transition: .3s ease;
        &:last-child {
            margin: 0 !important;
        }
    }
}