{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--white">

    <!-- POSTS -->
    <section class="posts">
        <div class="posts__body container">
            <h2 class="posts__heading title title--violet title--big title--bold title--uppercase center">
                Новости
            </h2>
            <div class="posts__grid ">
                <div class="posts__column">
                    <!-- POST -->
                    <article class="post">
                        <div class="post__image-bg" style="background-image: url('../images/plugs/trips-img-01.jpg')"></div>
                        <div class="post__details">
                            <div class="post__info">
                                <div class="post__categories">
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Вебинар
                                    </a>
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Ecofriends
                                    </a>
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Мероприятие
                                    </a>
                                </div>
                                <h3 class="post__title title title--white title--small title--medium left">
                                    <a href="" class="post__link">
                                        Важность образования в современном мире
                                    </a> 
                                </h3>
                                <time class="post__date text text--white text--tiny text--regular" datetime="">
                                    7 Августа 2020 
                                </time>
                            </div>
                        </div>
                    </article>
                    <!-- /. POST -->
                </div>
                <div class="posts__column">
                    <!-- POST -->
                    <article class="post">
                        <div class="post__image-bg" style="background-image: url('../images/plugs/trips-img-02.jpg')"></div>
                        <div class="post__details">
                            <div class="post__info">
                                <div class="post__categories">
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Евенты
                                    </a>
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Поколение F
                                    </a>
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Дети
                                    </a>
                                </div>
                                <h3 class="post__title title title--white title--small title--medium left">
                                    <a href="" class="post__link">
                                        Какая общественно-значимая проблема решается в рамках проекта?
                                    </a> 
                                </h3>
                                <time class="post__date text text--white text--tiny text--regular" datetime="">
                                    7 Августа 2020 
                                </time>
                            </div>
                        </div>
                    </article>
                    <!-- /. POST -->
                </div>
                <div class="posts__column">
                    <!-- POST -->
                    <article class="post">
                        <div class="post__image-bg" style="background-image: url('../images/plugs/trips-img-03.jpg')"></div>
                        <div class="post__details">
                            <div class="post__info">
                                <div class="post__categories">
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Евенты
                                    </a>
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Поколение F
                                    </a>
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Дети
                                    </a>
                                    <a href="" class="post__category text text--dark text--small text--regular">
                                        #Разное
                                    </a>
                                </div>
                                <h3 class="post__title title title--white title--small title--medium left">
                                    <a href="" class="post__link">
                                        3 причины путешествовать за границу, обучаясь в школе/колледже
                                    </a> 
                                </h3>
                                <time class="post__date text text--white text--tiny text--regular" datetime="">
                                    7 Августа 2020 
                                </time>
                            </div>
                        </div>
                    </article>
                    <!-- /. POST -->
                </div>
            </div>
            <div class="posts__pagination">
                <nav class="navigation pagination" role="navigation">
                    <div class="nav-links">
                        <a class="prev page-numbers" href="https://oneworldclick.ru/blog/">«</a>
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="http://wptest.ru/page/2/">2</a>
                        <span class="page-numbers dots">…</span>
                        <a class="page-numbers" href="http://wptest.ru/page/86/">86</a>
                        <a class="page-numbers" href="http://wptest.ru/page/87/">87</a>
                        <a class="next page-numbers" href="http://wptest.ru/page/2/">»</a>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <!-- /. POSTS -->

</main>
<!-- /. MAIN -->



{% include "partials/_footer.html" %}