{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--white">

    <!-- HEAD-SCREEN -->
    <section class="head-screen bg--white">
        <div class="head-screen__body container">
            <div class="head-screen__text center">
                <h2 class="head-screen__title text text--gray text--normal text--regular">
                    Международная образовательная площадка будущего
                </h2>
                <h1 class="head-screen__name title title--violet title--big title--black title--uppercase">
                    Pokolenie F <span class="title title--gray title--medium title--regular title--uppercase">- это тот кто с нами:</span>
                </h1>
            </div>
            <div class="head-screen__swiper">

                <!-- SWIPER SLIDER -->
                <div class="swiper-container head-slider">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide head-slider__slide bg--white">
                            <div class="head-slider__text">
                                <h3 class="head-slider__title title title--white title--big title--bold title--uppercase">
                                    F-TRIP
                                </h3>
                                <p class="head-slider__descr text text--white">
                                    Присоеденяйся к изучению мира, культуры и языков, вместе снами в увлекательных образовательных турах по странам европы, США и Канады
                                </p>
                                <div class="head-slider__actions">
                                    <a href="" class="head-slider__button button button--primary button--primary--normal">
                                        Узнать подробнее
                                    </a>
                                    <a href="" class="head-slider__button button button--primary button--primary--normal">
                                        Выбрать поездку
                                    </a>
                                </div>
                            </div>
                            <div class="head-slider__image">
                                <img class="head-slider__pic" src="../images/head-slider/slide-img-01.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide head-slider__slide bg--white">
                            <div class="head-slider__text">
                                <h3 class="head-slider__title title title--white title--big title--bold title--uppercase">
                                    F-EDUCATION
                                </h3>
                                <p class="head-slider__descr text text--white">
                                    Присоеденяйся к изучению мира, культуры и языков, вместе снами в увлекательных образовательных турах по странам европы, США и Канады
                                </p>
                                <div class="head-slider__actions">
                                    <a href="" class="head-slider__button button button--primary button--primary--normal">
                                        Присоедениться
                                    </a>
                                </div>
                            </div>
                            <div class="head-slider__image">
                                <img class="head-slider__pic" src="../images/head-slider/slide-img-02.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide head-slider__slide bg--white">
                            <div class="head-slider__text">
                                <h3 class="head-slider__title title title--white title--big title--bold title--uppercase">
                                    F-CAREER
                                </h3>
                                <p class="head-slider__descr text text--white">
                                    Присоеденяйся к изучению мира, культуры и языков, вместе снами в увлекательных образовательных турах по странам европы, США и Канады
                                </p>
                                <div class="head-slider__actions">
                                    <a href="" class="head-slider__button button button--primary button--primary--normal">
                                        Присоедениться
                                    </a>
                                </div>
                            </div>
                            <div class="head-slider__image">
                                <img class="head-slider__pic" src="../images/head-slider/slide-img-03.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide head-slider__slide bg--white">
                            <div class="head-slider__text">
                                <h3 class="head-slider__title title title--white title--big title--bold title--uppercase">
                                    F-RULES
                                </h3>
                                <p class="head-slider__descr text text--white">
                                    Присоеденяйся к изучению мира, культуры и языков, вместе снами в увлекательных образовательных турах по странам европы, США и Канады
                                </p>
                                <div class="head-slider__actions">
                                    <a href="" class="head-slider__button button button--primary button--primary--normal">
                                        Присоедениться
                                    </a>
                                </div>
                            </div>
                            <div class="head-slider__image">
                                <img class="head-slider__pic" src="../images/head-slider/slide-img-04.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination head-slider__pagination title title--violet title--medium title--bold title--uppercase"></div>
                </div>
                <!-- /. SWIPER SLIDER -->

            </div>
        </div>
        <div class="line head-screen__line">
            <svg class="line__svg" viewBox="0 0 1920 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1920 6.63716L932.585 20.1277L883.144 100H1920V6.63716Z" fill="#453DC6"/>
                <path d="M1920 6.63716L932.585 20.1277L883.144 100H1920V6.63716Z" fill="url(#paint0_linear)"/>
                <path d="M990.96 11.9469L912.359 50.2045L883.144 100L1039.65 79.3531L990.96 11.9469Z" fill="#00A0E3"/>
                <path d="M0 0L991.408 11.4445L1041.05 79.2035H0V0Z" fill="#4A68CC"/>
                <path d="M0 0L991.408 11.4445L1041.05 79.2035H0V0Z" fill="url(#paint1_linear)"/>
                <defs>
                    <linearGradient id="paint0_linear" x1="1401.57" y1="6.63716" x2="1401.57" y2="100" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3B47C2"/>
                        <stop offset="0.739583" stop-color="#473CC6"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="520.524" y1="0" x2="520.524" y2="79.2035" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#6152D3"/>
                        <stop offset="1" stop-color="#4969CC"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
    </section>
    <!-- /. HEAD-SCREEN -->

</main>
<!-- /. MAIN -->



{% include "partials/_footer.html" %}