{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--white">

    <!-- TRIPS -->
    <section class="trips bg--white">
        <div class="trips__body">
            <div class="trips__grid">
                <div class="trips__cart">
                    <div class="trips__bg" style="background-image: url('images/plugs/trips-img-01.jpg')"></div>
                    <div class="trips__text">
                        <h3 class="trips__title title title--white title--small title--bold title--uppercase">
                            Актуальные поездки
                        </h3>
                    </div>
                    <div class="trips__action">
                        <a href="" class="button button--primary">
                            Узнать подробнее
                        </a>
                    </div>
                </div>
                <div class="trips__cart">
                    <div class="trips__bg" style="background-image: url('images/plugs/trips-img-02.jpg')"></div>
                    <div class="trips__text">
                        <h3 class="trips__title title title--white title--small title--bold title--uppercase">
                            Прошедшие поездки
                        </h3>
                    </div>
                    <div class="trips__action">
                        <a href="" class="button button--primary">
                            Узнать подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- LINE -->
        <div class="line trips__line">
            <svg class="line__svg" viewBox="0 0 1920 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1920 6.63716L932.585 20.1277L883.144 100H1920V6.63716Z" fill="#453DC6"/>
                <path d="M1920 6.63716L932.585 20.1277L883.144 100H1920V6.63716Z" fill="url(#paint0_linear)"/>
                <path d="M990.96 11.9469L912.359 50.2045L883.144 100L1039.65 79.3531L990.96 11.9469Z" fill="#00A0E3"/>
                <path d="M0 0L991.408 11.4445L1041.05 79.2035H0V0Z" fill="#4A68CC"/>
                <path d="M0 0L991.408 11.4445L1041.05 79.2035H0V0Z" fill="url(#paint1_linear)"/>
                <defs>
                    <linearGradient id="paint0_linear" x1="1401.57" y1="6.63716" x2="1401.57" y2="100" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3B47C2"/>
                        <stop offset="0.739583" stop-color="#473CC6"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear" x1="520.524" y1="0" x2="520.524" y2="79.2035" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#6152D3"/>
                        <stop offset="1" stop-color="#4969CC"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <!-- /. LINE -->

    </section>
    <!-- /. TRIPS -->

    <!-- REVIEWS -->
    <section class="reviews">
        <div class="reviews__body container">
            <h1 class="reviews__heading title title--violet title--big title--bold title--uppercase center">
                Отзывы ребят, которые уже побывали в наших образовательных турах
            </h1>
            <div class="reviews__content">
                <div class="reviews__rows">

                    <!-- REVIEW-CART -->
                    <div class="review-cart reviews__review-cart">
                        <div class="review-cart__ppl-info">
                            <div class="review-cart__ava">
                                <img src="images/team/annakrovikova.jpg" alt="" class="review-cart__img">
                            </div>
                            <div class="review-cart__text">
                                <h3 class="review-cart__name title title--small title--violet title--bold">
                                    Анна Кровякова 13 лет
                                </h3>
                                <h3 class="review-cart__event title title--small title--violet title--bold">
                                    Поездка: ГЕО-Германия
                                </h3>
                                <div class="review-cart__date text text--small text--gray text--regular">
                                    Дата поездки: 20.01.2020 - 30.01.2020
                                </div>
                                <div class="review-cart__like text text--small text--gray text--regular">
                                    Оценили поездку: <span class="review-cart__star text text--small text--violet text--bold">9 из 10</span> 
                                </div>
                            </div>
                        </div>
                        <div class="review-cart__description text text--normal text--dark text--regular">
                            <p>
                                С другой стороны сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития.
                            </p>
                        </div>
                        <div class="review-cart__border">
                            <svg class="review-cart__border-img" width="665" height="14" viewBox="0 0 665 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1.5H353L313.5 12.5H663" stroke="#AEA5DE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                    <!-- /. REVIEW-CART -->

                    <!-- REVIEW-CART -->
                    <div class="review-cart reviews__review-cart">
                        <div class="review-cart__ppl-info">
                            <div class="review-cart__ava">
                                <img src="images/team/avatar.png" alt="" class="review-cart__img">
                            </div>
                            <div class="review-cart__text">
                                <h3 class="review-cart__name title title--small title--violet title--bold">
                                    Анна Кровякова 13 лет
                                </h3>
                                <h3 class="review-cart__event title title--small title--violet title--bold">
                                    Поездка: ГЕО-Германия
                                </h3>
                                <div class="review-cart__date text text--small text--gray text--regular">
                                    Дата поездки: 20.01.2020 - 30.01.2020
                                </div>
                                <div class="review-cart__like text text--small text--gray text--regular">
                                    Оценили поездку: <span class="review-cart__star text text--small text--violet text--bold">9 из 10</span> 
                                </div>
                            </div>
                        </div>
                        <div class="review-cart__description text text--normal text--dark text--regular">
                            <p>
                                С другой стороны сложившаяся структура организации позволяет выполнять важные задания по разработке дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют определения и уточнения модели развития. Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития.
                            </p>
                        </div>
                        <div class="review-cart__border">
                            <svg class="review-cart__border-img" width="665" height="14" viewBox="0 0 665 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1.5H353L313.5 12.5H663" stroke="#AEA5DE" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                    <!-- /. REVIEW-CART -->

                </div>
            </div>
        </div>
    </section>
    <!-- /. REVIEWS -->

</main>
<!-- /. MAIN -->



{% include "partials/_footer.html" %}